server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3307/fstree?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: app
    password: app
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

# Swagger UI available at /swagger-ui/index.html
